* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  color: #fff;
  width: 100%;
  display: flex;
  background: linear-gradient(0deg, #01BAEF, #0B4F6C);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .8rem;
}
.header > .title {
  font-size: 2.6rem;
}
.header > span {
  font-size: 2rem;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
}

.main--select-section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
}

.main--select {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
} 
.main--options-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 12rem);
  grid-auto-rows: 12rem;
  justify-content: center;
  width: 80%;
  justify-items: center;
  gap: 1rem;
}
.main--options-container > label {
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  background-color: #01BAEF;
  border-radius: .5rem;
  color: #fff;
  cursor: pointer;
  text-align: center;
  width: 90%;
}
.main--options-container > label > input {
  display: none;
}