* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
html {
  font-size: 62.5%;
}

body {
  font-family: 'Fredoka One', cursive;
  background-image: url('../../assets/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: .8rem;
}
.header > .title {
  font-size: 5rem;
  margin: 1rem 0;
  text-shadow: 0 .5rem .5rem #202526dc;
}
.header > span {
  font-size: 3rem;
}
.main {
  display: flex;
  flex-direction: column;
  /* min-height: 50vh; */
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

.main--select-section {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  padding: 2rem;
  margin-top: 5rem;
}

.main--select-title {
  color: #fff;
  text-shadow: 0 1px 5px #202526dc;
  font-size: 3rem;
  text-align: center;
}

.main--select {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
} 
.main--options-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 20rem);
  grid-auto-rows: 20rem;
  justify-content: center;
  width: 100%;
  justify-items: center;
  gap: 1rem;
}
.main--options-container > label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  border-radius: 1.5rem;
  cursor: pointer;
  width: 90%;
  height: 90%;
  /* border: 1px solid #2d343640; */
  color: #fff;
  text-shadow: 0 1px 5px #2d343676;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ffffff77, #2d34362c, #2d34362c);
  transition: .3s;
}
.main--options-container > label:hover {
  width: 95%;
  height: 95%;
  box-shadow: 0 5px 15px #2d34362c;
}
.main--options-container > label > img {
  width: 90%;
}

.main--options-container > label > input {
  display: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;

}
#buttonSelectPet {
  padding: 1rem;
  font-size: 1.8rem;
  background-color: #FFA500;
  border-radius: 0.5rem;
  color: #fff;
  text-align: center;
  width: 80%;
  height: 5rem;
  max-width: 30rem;
  border: none;
  margin-top: 5rem;
}
#buttonSelectPet:hover {
  box-shadow: 0 0 10px #FFA500;
}

#selectAttack {
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  color: #fff;
}
#selectAttack > h2 {
  text-shadow: 0 1px 5px #202526dc;
  font-size: 3rem;
}

.buttons-attack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-attack {
  background-color: #3e6643;
  color: #fff;
  padding: .5rem 1rem;
  border: none;
  width: 10rem;
  height: 3.5rem;
  border-radius: 50px;
  box-shadow: 0 1px 5px #202526dc;
  margin: 1rem;
}

#messages > #result {
  font-size: 2rem;
  text-shadow: 0 1px 5px #202526dc;
}

#restart > #buttonRestart {
  width: 80%;
  height: 3rem;
  border-radius: 55rem;
  background-color: #FFA500;
  color: #fff;
  border: none;
  margin: 2rem auto;
}
#restart > #buttonRestart:hover {
  box-shadow: 0 0 10px #FFA500;
}

.status--game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
.status--game {
  width: 15rem;
  min-width: max-content;
  text-align: center;
  background: linear-gradient(135deg, #ffffff77, #2d34362c, #2d34362c);
  margin: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 1px 5px #49474733;
}

.status--game__lives {
  font-size: 3rem;
  text-shadow: 0 1px 5px #202526dc;
}
.status--game__name {
  font-size: 2rem;
  text-shadow: 0 1px 5px #202526dc;
  margin-bottom: 1rem;
}

.status--game__attack {
  font-size: 1.4rem;
}

.selected {
  border: #FFA500 solid 2px;
}